.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}

.catTitle{
    font-family: "Lora", serif;
    font-size:25px;
    color: black;
    text-shadow: 1px 0 silver;
    
}